<div class="jumbotron">
    <h1 class="text-center">Home Page</h1>

    <div>
        <div class="col-md-8">
            <h3>Simulating a back-end with Be dummy’s mock servers</h3>
            <br>

            <p class="home-p">Delays on the front- or back-end make it difficult for dependent teams to complete their work efficiently. Be
                dummy can alleviate those delays in the development process.</p>

            <p class="home-p">Front-end developers can create a mock routes to simulate each endpoint and its corresponding environment in
                a Be Dummy Model page, before sending the actual request. Developers can view potential responses, without
                spinning up a back end.
            </p>

            <p class="home-p">Creating a mock example during the earliest phase of API development fosters clear communication among team members
                and aligns their expectations. As a result, all teams in the development process can work in parallel; and
                dependent teams experience fewer delays.</p>
        </div>
        <div class="col-md-4">
            <img src="https://dummyimage.com/600x400/000/fff" alt="Image?" class="col-md-12 image-peding">
        </div>
    </div>


</div>